<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- listeners -->
  <listener>
    <listener-class>com.rongle.jsms.BeforeAfterListener</listener-class>
  </listener>

  <!-- servlets -->
  <servlet>
    <servlet-name>sendcode</servlet-name>
    <servlet-class>com.rongle.jsms.SendCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendcode</servlet-name>
    <url-pattern>/servlets/sendcode</url-pattern>
  </servlet-mapping>
</web-app>
